.home-container-full {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.search-bar {
  position: absolute; /* Position it on top */
  top: 20px; /* Distance from the top */
  right: 20px; /* Distance from the right */
  width: 250px; /* Set a smaller width */
  z-index: 1000; /* Ensure it stays above other elements */
  display: none;
}

.search-bar .react-select__control {
  font-size: 14px; /* Reduce font size for better appearance */
  min-height: 35px; /* Make it smaller in height */
}

.reactour__tooltip {
  font-family: "Prompt", sans-serif;
  font-size: 14px;
  color: #333;
  background: #f4f3ef;
  border-radius: 8px;
  padding: 10px;
}

.home-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Sidebar gets a fixed or flexible width */
.sidebar {
  flex: 0 0 35%; /* This sets a fixed 350px width */
  /* or flex: 0 0 30%; for a percentage-based width */
}

/* The map or main area grows to fill the remaining space */
.map-section {
  flex: 1; /* take remaining space */
}
