/* Full-screen container */
.home-container-full {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height */
  width: 100%; /* Full width */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #faf3e0; /* Matching background color */
}

/* Content to fill the height */
.home-content {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Ensure sidebar and map adjust their sizes */
.mainsidebar {
  flex: 1; /* Sidebar takes appropriate space */
  max-width: 40%;
  background-color: #f3e8d0;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.map-container {
  flex: 3; /* Map takes the remaining space */
  height: 100%;
  background-color: #1bb584;
}
