/* Sidebar container */
.sidebar {
  width: 40%;
  padding: 2rem;
  background-color: #1bb2b5;
  color: #5a4e40;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Heading and subheading styles */
.sidebar-heading {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 2rem;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

.sidebar-subheading {
  font-size: 1.1rem;
  color: white;
  margin-bottom: -1.5rem;
  font-weight: 500;
  text-align: center;
}

/* Card for budget data */
.card {
  background-color: #1bb584;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.card-heading {
  font-size: 1.4rem;
  color: white;
  margin-bottom: 1rem;
  font-weight: 600;
}

.card-text {
  font-size: 1rem;
  color: white;
}

.ceo-info {
  font-size: 1rem;
  color: white;
}

.card-text-budget {
  font-size: 1rem;
  color: whitesmoke;
}

.budget-amount {
  font-weight: bold;
  color: #8c6a4a;
}

.card-link {
  color: #3498db;
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
}

/* Chart Container */
.chart-container {
  margin-top: 1rem;
  background-color: #fff8e1;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-heading {
  font-size: 1.4rem;
  color: #8c6a4a;
  margin-bottom: 1rem;
  font-weight: 600;
}

/* Separator between sections */
.separator {
  border-top: 1px solid #d3c0a6;
  margin: 1rem 0;
}

/* No budget message */
.no-budget {
  font-size: 1.2rem;
  color: whitesmoke;
  text-align: center;
  font-style: italic;
}

.logo-container {
  display: flex;
  justify-content: center; /* Center the logo horizontally */
  margin-bottom: 0rem; /* Add space below the logo */
}

.sidebar-logo {
  width: 40%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  animation: fadeIn 1.5s ease-in-out; /* Optional: Add a fade-in animation */
  margin-bottom: -1rem;
}

/* Optional: Add a fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
